$body-font: 'Mukta', sans-serif;
$title-font: 'Mukta', sans-serif;
$paragraph-font: 'Roboto', sans-serif;
$primary-color: #215F5E;
$secondary-color: #002776;

$bg-color: #f8faff;
$title-color: #2c3e50;
$text-color: hsl(229deg 11% 51%);

$border-r: 1.5rem;

$gutter: 100px;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 1050px;
$xl-breakpoint: 1216px;
$xx-breakpoint: 1400px;
